.artwork-container {
    width: 100%;
    position: relative;

    img {
        position: relative !important;
        pointer-events: none;
    }
}

.artwork-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.artwork-text {
    width: 90%;
    margin: 0 5% 30px;
    padding: 0;

    h1 {
        font-size: 24px;
        font-weight: 400;
        margin: 7px 0 14px 0;
        opacity: .9;
    }

    h4 {
        font-size: 14px;
        margin: 0;
        font-weight: 600;
        opacity: .6;
    }

    p {
        font-size: 12px;
        margin: 0;
        font-weight: 400;
        opacity: .5;
    }
}

.artwork-enlarge-container {
    width: 74px;
    height: 74px;
    opacity: .6;
    transition: opacity .5s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,.5);
    border-radius: 40px;
    bottom: 40px;
    right: 40px;

    &:hover {
        opacity: .8;
        transition: opacity .5s ease-in-out;
    }

    svg {
        width: 100%;
        position: absolute;
        top: 8px;
    }
}

.artwork-line {
    width: 50%;
    height: 1px;
    background: $dark;
    margin: 30px 25% 50px;
    opacity: .2;
}