@import './vars.scss';
@import './contact.scss';
@import './nav.scss';
@import './letters.scss';
@import './murals.scss';
@import './realism.scss';
@import './videos.scss';
@import './heros.scss';
@import './home.scss';
@import './artwork.scss';
@import './menu.scss';
@import './artworks.scss';


* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}