// colors

$light: rgba(255,255,255,.8);
$dark: rgba(0,0,0,.8);
$formback: rgba(0,0,0,.1);
$error: #ed4337;
$success: #5cb85c;

:export {
    success: $success;
    error: $error;
}

// breakpoints
$mobile: 450px;
$tablet: 769px;
$desktop: 1201px;